* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  height: 100%;
  width: 100%;
  /* background: cornflowerblue; */
  background: #000;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Martian Mono", monospace;
  font-family: "Montserrat", sans-serif;
  background: #1c1c1c;
}
.main-container {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  padding-top: 30px;
}

::-webkit-scrollbar {
  display: none;
}
.sidebar-flex {
  position: relative;
  top: 30px;
}
h1 {
  font-size: 19px;
  margin-top: 40px;
}
.sidebar-flex{
  position: relative;
  top: 37px;
}


.container {
  background: #1c1c1c;

  position: relative;
  left: 15px;
}

h2 {
  margin-left: 6px;
}

.text {
  margin-left: 67px;
  position: relative;
  bottom: 61px;
}

.sidebar {
  position: relative !important;
}

h3 {
  width: fit-content;
  font-size: 18px;
  text-align: center;
  margin-left: 44px;
}
